.ContentTokenValue {
    margin: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER_MAIN;
            margin-top: 56px;
        }
        & img {
            max-width: 900px;
            width: 100%;
        }
    }
    &__content {
        font-size: 18px;
        &.data {
            display: flex;
            & .data__container {
                &--go {
                    margin-right: 56px;
                }
            }
            & .data__content {
                margin-bottom: 56px;
                & table {
                    border-spacing: 0px;
                    max-width: 720px;
                }
                & tr:nth-child(2n+2) {
                    background: linear-gradient(90deg, #fbfbfb, #ffcaca);
                }
                & td {
                    padding: 8px 0;
                    min-width: 260px;
                }
                & td:first-child {
                    max-width: 360px;
                    width: 100%;
                    padding-right: 8px
                }
            }
        }
        &.info {
            display: flex;
            & .info__container {}
            & .info__content {
                margin-bottom: 56px;
                & table {
                    border-spacing: 0px;
                    max-width: 720px;
                }
                & tr:nth-child(2n+2) {
                    background: linear-gradient(90deg, #fbfbfb, #ffcaca);
                }
                & td {
                    padding: 8px 0;
                    min-width: 260px;
                }
                & td:first-child {
                    max-width: 360px;
                    width: 100%;
                    padding-right: 8px
                }
            }
        }
        &.bonuses {
            display: flex;
            & .bonuses__container {}
            & .bonuses__header {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 16px;
            }
            & .bonuses__content {
                margin-bottom: 56px;
                & table {
                    border-spacing: 0px;
                    border-bottom: 1px solid #cecece;
                    border-right: 1px solid #cecece;
                }
                & td {
                    border-top: 1px solid #cecece;
                    border-left: 1px solid #cecece;
                    padding: 5px 16px;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .ContentTokenValue {
        &__container {}
        &__content {
            &.data {
                flex-direction: column;
                & .data__container {
                    &--go {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}