$active_link: #ff4437;
.HeaderNavbar_indent {
    height: 60px;
}

.HeaderNavbar {
    &--top-fixed {
        position: fixed;
        width: 100%;
        z-index: 900;
    }
    background-color: rgba(255, 255, 255, 0.98);
    &__container {
        @extend %CONTAINER;
        display: flex;
    }
    &__logo {
        order: 1;
        height: 60px;
        &__link {
            padding: 15px 15px 15px 0;
            display: block;
        }
        &__image {
            vertical-align: top;
        }
    }
    &__buttons {
        order: 4;
        display: flex;
    }
    &__whitepaper {
        padding-top: 11px;
        margin-left: 3px;
        margin-right: 3px;
        &__link {
            transition: all 0.2s ease-in-out;
            @extend %BUTTON;
            @extend %BUTTON_STYLE_DEFAULT;
            @extend %BUTTON_TYPE_FILLET;
            @extend %BUTTON_EFFECT_SHADOW_LIGHT;
            border: none;
            padding-left: 32px;
            padding-right: 32px;
            &:hover {
                opacity: 0.8
            }
        }
    }
    &__menu {
        flex-grow: 1;
        order: 3;
        &__list {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0 16px;
        }
        &__list .menu-list {
            &__item {
                &--pc {
                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-end;
                }
                &__link {
                    font-size: 14px;
                    display: block;
                    line-height: 62px;
                    padding: 0 10px;
                    color: #333;
                    transition: all 0.2s ease-in-out;
                    font-weight: 300;
                    text-decoration: none;
                    font-weight: 700;
                    white-space: nowrap;
                    &:hover {
                        color: $active_link;
                    }
                    &--active {
                        color: $active_link;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .HeaderNavbar_indent {
        height: 122px;
    }
    .HeaderNavbar {
        &--top-fixed {
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.21);
        }
        &__container {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__logo {
            width: 40%;
        }
        &__buttons {
            order: 3;
            width: 60%;
            justify-content: flex-end;
        }
        &__whitepaper {
            padding-top: 14px;
            &__link {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 12px;
            }
        }
        &__menu {
            order: 4;
            overflow-x: auto;
            margin: 0 -15px;
            &__list {
                padding: 0 5px;
            }
        }
    }
}

@media (min-width: 1200px) {}