.ContentDecisionImageBlock {
    padding: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            transition: all .4s ease-out;
            opacity: 0;
            margin-left: -150px;
        }
    }
    &__content {
        font-size: 18px;
        & img {
            width: 100%;
            margin-top: 70px;
            margin-bottom: -70px;
            opacity: 0;
            transition: all .4s ease-out;
        }
    }
}

.ContentDecisionImageBlock_in .ContentDecisionImageBlock {
    &__container {
        &__header {
            opacity: 1;
            margin-left: 0;
        }
    }
    &__content {
        & img {
            margin-top: 0;
            margin-bottom: 0;
            opacity: 1;
        }
    }
}