//@extend %CONTAINER;
%CONTAINER {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    %CONTAINER {
        width: 750px;
    }
}

@media (min-width: 992px) {
    %CONTAINER {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    %CONTAINER {
        width: 1170px;
    }
}