//@extend %CONTENT_HEADER;
%CONTENT_HEADER {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 0;
    width: 100%;
    display: block;
}

//@extend %CONTENT_HEADER_MAIN;
%CONTENT_HEADER_MAIN {
    @extend %CONTENT_HEADER;
}

//@extend %CONTENT_HEADER_CENTER;
%CONTENT_HEADER_CENTER {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 0;
    text-align: center;
    width: 100%;
    display: block;
}

//@extend %CONTENT_HEADER_RIGHT_LINK;
%CONTENT_HEADER_RIGHT_LINK {
    &>a {
        float: right;
        text-decoration: none;
        font-size: 16px;
        color: #ff4437;
        display: block;
        line-height: 2.7;
        &:hover {
            text-decoration: underline
        }
    }
}