.SocialLinks {
    margin: 0 0 56px 0;
    &__container {
        @extend %CONTAINER;
        display: flex;
        justify-content: center;
    }
    &__content {
        display: flex;
        &__item {
            display: block;
            background-image: url('../images/s.png');
            width: 34px;
            height: 34px;
            margin: 0 20px;
            background-size: auto 34px;
            transition: all .2s ease-in-out;
            &--t {
                background-position: -34px 0;
            }
            &--f {
                background-position: 0 0;
            }
            &--i {
                background-position: -68px 0;
            }
            &--s {
                background-position: -102px 0;
            }
            &--tg {
                background-position: -136px 0;
            }
            &:hover {
                margin-top: -5px;
            }
        }
    }
}

@media (max-width: 992px) {
    .SocialLinks {
        &__container {}
        &__content {
            &__item {
                &--twitter {}
                &--facebook {}
                &--instagram {}
                &--slack {}
            }
        }
    }
}

@media (min-width: 1200px) {}