<!DOCTYPE html>
<html>

<head lang="{{lang}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#603cba">
    <meta name="application-name" content="Bitkom">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Bitkom">
    <link href="/{{{files.style}}}" rel="stylesheet">
    <script>
        window.__INITIAL_STATE__ = JSON.parse(`{{{INITIAL_STATE}}}`);
    </script>
</head>

<body class="{{bodyClass}}">
    <div id="app">{{{content}}}</div>
    <script src="/{{{files.manifest}}}"></script>
    <script src="/{{{files.vendor}}}"></script>
    <script src="/{{{files.app}}}"></script>

</body>

</html>