.ContentInformationBlock {
    padding: 72px 0;
    background-color: #333;
    background: linear-gradient(rgba(148, 30, 255, 0.67), rgba(255, 31, 67, 0.702)), url('../images/informatciya.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    &__container {
        max-width: 700px;
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            color: #fff;
        }
    }
    &__content {
        color: #fff;
        text-align: center;
    }
}