.ContentPreview {
    margin: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
    }
    &__content {
        flex: 1;
        padding: 0 60px 0 0;
    }
    &__item {
        display: flex;
        margin-top: 150px;
        margin-bottom: -150px;
        opacity: 0;
        transition: all .4s ease-out;
    }
    &__content {}
    &__content .content {
        &__header {
            color: #000!important;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 24px;
            margin-top: 0;
        }
        &__body {
            margin-bottom: 24px;
            font-size: 17px;
        }
        &__links {
            display: flex;
            margin-bottom: 24px;
            &__googleplay,
            &__appstore {
                height: 44px;
                width: 130px;
                background: url("../images/badges.png") no-repeat;
                background-size: 130px auto;
                text-decoration: none;
                display: block;
            }
            &__googleplay {
                background-position: 0 0;
                margin: 0 16px 0 0;
            }
            &__appstore {
                background-position: 0 100%;
            }
        }
    }
    &__image {
        align-self: center;
        flex: 1;
        &__frame {
            min-height: 50px;
            max-width: 600px;
            background-size: auto 100%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    }
}

.ContentPreview_in .ContentPreview {
    &__item {
        margin-top: 0;
        margin-bottom: 0;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .ContentPreview {
        &__container {}
        &__content {
            order: 2;
            padding: 0;
        }
        &__item {
            flex-direction: column;
        }
        &__content .content {
            &__header {}
            &__body {}
            &__links {
                justify-content: center;
                &__googleplay {}
                &__appstore {}
            }
        }
        &__image {
            order: 1;
            margin: 0 0 48px 0;
            &__frame {
                margin: 0 auto;
                max-width: 750px;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) {}