.ContentTeam {
    margin-bottom: 72px;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            transition: all .4s ease-out;
            opacity: 0;
            margin-left: -150px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: -150px;
        opacity: 0;
        transition: all .4s ease-out;
        &__item {
            width: 33.33333333333%;
            margin-bottom: 56px;
            padding: 0 27px;
        }
        &__item .content {
            &__frame {
                background: linear-gradient(90deg, #fe8246, #e1487c);
                border-radius: 100%;
                height: 160px;
                width: 160px;
                margin: 0px auto 32px;
                padding: 3px;
                overflow: hidden;
                &__image {
                    border-radius: 100%;
                    height: 154px;
                    width: 154px;
                    margin: 0px auto 0;
                    background: url('../images/nophoto.png') no-repeat;
                    background-position: 50%;
                    overflow: hidden;
                    & img {
                        margin-left: -3px;
                    }
                }
            }
            &__name {
                margin: 0;
                text-align: center;
                font-size: 22px;
            }
            &__info {
                text-align: center;
                font-size: 16px;
                color: #000;
                font-weight: 300;
                margin-bottom: 4px;
            }
            &__socials {
                display: flex;
                justify-content: center;
                &__link {
                    display: block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    &--linkedin {
                        background-image: url('../images/linkedin_48x48.png');
                    }
                    &--facebook {
                        background-image: url('../images/facebook_48x48.png');
                    }
                    &--twitter {
                        background-image: url('../images/twitter_48x48.png');
                    }
                }
            }
        }
    }
}

.ContentTeam_in .ContentTeam {
    &__container {
        &__header {
            opacity: 1;
            margin-left: 0;
        }
    }
    &__list {
        margin-top: 0;
        margin-bottom: 0;
        opacity: 1;
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentTeam {
        &__container {
            &__header {}
        }
        &__list {
            &__item {
                width: 100%;
            }
            &__item .content {
                &__frame {
                    &__image {}
                }
                &__name {}
                &__info {}
            }
        }
    }
}

@media (min-width: 1200px) {}