.ContentBrands {
    margin-bottom: 72px;
    &__container {
        @extend %CONTAINER;
    }
    &__list {
        transition: all .4s ease-out;
        opacity: 0;
        margin-top: 150px;
        margin-bottom: -150px;
        display: flex;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &__item {
            width: 20%;
            margin-bottom: 16px;
            height: 200px;
            text-align: center;
        }
    }
}

.ContentBrands_in .ContentBrands {
    &__list {
        opacity: 1;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    .ContentBrands {
        &__list {
            &__item {
                width: 100%;
            }
        }
    }
}