.SignInNotFound {
    padding: 164px 0 104px;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            text-align: left;
        }
    }
    &__content {}
}