.ContentSubscribeMiniForm {
    padding: 72px 0;
    background: #eee;
    &__container {
        @extend %CONTAINER;
        max-width: 420px;
        &__header {
            @extend %CONTENT_HEADER;
        }
    }
    &__content {}
    &__content .subscribe {
        &__button {
            @extend %BUTTON;
            @extend %BUTTON_STYLE_DEFAULT;
            @extend %BUTTON_TYPE_FILLET;
            @extend %BUTTON_EFFECT_SHADOW_LIGHT;
            margin-top: 8px;
            width: 100%;
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentSubscribeMiniForm {
        &__container {
            &__header {}
        }
    }
}

@media (min-width: 1200px) {}