.ContentMedia {
    margin-bottom: 96px;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            color: #000;
        }
    }
    &__player {
        margin: 0 auto;
        &__iframe {
            box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
            width: 720px;
            margin: 0 auto;
            height: 405px;
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentMedia {
        &__container {
            &__header {}
        }
        &__player {
            &__iframe {
                width: 100%;
                max-width: 640px;
            }
        }
    }
}

@media (min-width: 1200px) {}