.ContentIntroBlock {
    margin: 0 0 72px;
    padding: 56px 0 0 0;
    &__container {
        @extend %CONTAINER;
        display: flex;
        align-items: center;
        &__header {
            @extend %CONTENT_HEADER;
        }
    }
    &__content {
        font-size: 18px;
        padding-right: 56px;
        margin: 56px 0;
    }
    &__left {
        width: 60%;
    }
    &__image {
        height: 200px;
        width: 40%;
        background: url('../images/rest_images.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
    }
}

@media (max-width: 992px) {
    .ContentIntroBlock {
        &__container {
            flex-direction: column;
            &__header {}
        }
        &__content {
            width: 100%;
            padding-right: 0;
        }
        &__left {
            width: 100%;
        }
        &__image {
            width: 100%;
        }
    }
}