.ContentСapability {
    margin-bottom: 96px;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
        }
    }
    &__list {
        &__item {
            display: flex;
            margin-bottom: 56px;
        }
    }
    &__content {
        flex: 1;
    }
    &__content .content {
        &__header {
            color: #000!important;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 24px;
            margin-top: 0;
        }
        &__body {
            margin-bottom: 24px;
            font-size: 16px;
        }
    }
    &__separator {
        width: 56px;
    }
    &__image {
        flex: 1;
        &__frame {
            height: 260px;
            background: #ccc;
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentСapability {
        &__container {
            &__header {}
        }
        &__list {
            &__item {
                flex-direction: column;
            }
        }
        &__content {
            order: 2;
        }
        &__content .content {
            &__header {}
            &__body {}
        }
        &__separator {
            display: none;
        }
        &__image {
            margin: 0 0 32px 0;
            &__frame {}
        }
    }
}

@media (min-width: 1200px) {}