.AgreementContent {
    padding: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER_MAIN;
            margin-top: 56px;
        }
    }
    &__content {
        font-size: 18px;
    }
}