.AccountForm {
    margin-bottom: 96px;
    @extend %CONTAINER;
    &__title {
        @extend %CONTENT_HEADER;
        margin-top: 56px;
    }
    &__container {
        display: flex;
        &__item {
            width: 33.33333333333%;
            padding: 16px;
            &__header {
                font-size: 20px;
                margin-bottom: 24px;
            }
            &.addwallet {
                & .addwallet {
                    &__list {}
                    &__item {
                        display: flex;
                        &__symbol {
                            font-size: 12px;
                            margin-right: 8px;
                            line-height: 40px;
                            width: 50px;
                            text-align: center;
                            & span {
                                color: #ff4437;
                            }
                        }
                        &__input {
                            margin-right: -1px;
                            border-radius: 3px 0 0 3px !important;
                        }
                        &__button {
                            border-radius: 0 3px 3px 0 !important;
                        }
                    }
                }
            }
            &.copywallet {
                &_silent {
                    opacity: .2;
                }
                & .copywallet {
                    &__list {}
                    &__content {
                        text-align: center;
                        margin-bottom: 24px;
                        & span {
                            color: #ff4437;
                        }
                    }
                    &__button {
                        text-align: center;
                        margin-bottom: 32px;
                        &>a {
                            transition: all 0.2s ease-in-out;
                            @extend %BUTTON;
                            @extend %BUTTON_STYLE_DEFAULT;
                            @extend %BUTTON_TYPE_FILLET;
                            @extend %BUTTON_EFFECT_SHADOW_LIGHT;
                            &:hover {
                                opacity: 0.8
                            }
                        }
                    }
                    &__description {
                        font-size: 16px;
                        margin-bottom: 8px;
                        font-weight: 700;
                        text-align: center;
                    }
                    &__list {}
                    &__item {
                        display: flex;
                        margin-bottom: 8px;
                        &__symbol {
                            font-size: 12px;
                            margin-right: 8px;
                            line-height: 40px;
                            width: 50px;
                            text-align: center;
                            & span {
                                color: #ff4437;
                            }
                        }
                        &__input {
                            font-size: 14px;
                            text-align: center;
                            background-color: #fff;
                            border: 1px solid #ccc;
                            width: 100%;
                            padding: 10px 16px;
                            color: #000;
                            border-radius: 3px !important;
                        }
                        &__button {
                            border-radius: 50px !important;
                            background-image: url('../images/copy_32.png');
                            background-color: transparent;
                            border: 0px;
                            width: 40px;
                            height: 40px;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }
            &.await {
                &_silent {
                    opacity: .2;
                }
                & .await {
                    &__content {
                        text-align: center;
                        margin-bottom: 16px;
                    }
                    &__description {
                        text-align: center;
                        color: #ff4437;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .AccountForm {
        &__container {
            display: block;
            &__item {
                width: 100%;
            }
        }
    }
}