*,
:after,
:before {
    box-sizing: border-box;
}

html,
body,
#app,
.App {
    // height: 100%;
    // width: 100%;
    line-height: 1.5;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}