$successColor: #5cb85c;
$warningColor: #FF4E00;
$dangerColor: #ff2f2f;
$primaryColor: #2f95e6;
$defaultColor: #ddd;
$textLightColor: #fff;
$textDarkColor: #333;
button,
input[type="button"] {
    outline: none;
}

.button,
%BUTTON {
    transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1), color 0.1s cubic-bezier(0.4, 0, 1, 1);
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: $textDarkColor;
    background-color: $defaultColor;
    text-decoration: none;
    &:hover {
        background-color: darken($defaultColor, 5);
        color: #333;
        text-decoration: none;
    }
    &.active,
    &:active {
        background-image: none;
        outline: 0;
        background-color: darken($defaultColor, 10) //-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        //box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }
    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        filter: alpha(opacity=65); //-webkit-box-shadow: none;
        //box-shadow: none;
        opacity: .65 !important;
    }
    /*
        BUTTON SIZES
    */
    &.sm {
        font-size: 12px;
    }
    &.md-sm {
        font-size: 14px;
    }
    &.md-lg {
        font-size: 18px;
    }
    &.lg {
        font-size: 20px;
    }
    /*
        BUTTON TYPES
    */
    &.round {
        color: #999;
        background-color: transparent;
        border-color: #ccc;
        &:hover {
            color: #333;
            background-color: #ccc;
            border-color: transparent;
        }
        &[disabled] {
            &:hover {
                color: lighten(#333, 10);
                background-color: lighten(#ccc, 5);
            }
        }
        &:active {
            color: #333;
            background-color: darken(#ccc, 5);
        }
    }
    &.success {
        color: #fff;
        background-color: $successColor;
        &:hover {
            color: #fff;
            background-color: lighten($successColor, 5);
        }
        &[disabled] {
            &:hover {
                background-color: $successColor;
            }
        }
        &:active {
            background-color: darken($successColor, 5)
        }
    }
    &.danger {
        color: #fff; //background-color: #d9534f;
        background-color: $dangerColor;
        &:hover {
            color: #fff; //background-color: #c9302c; 
            background-color: lighten($dangerColor, 5);
        }
        &[disabled] {
            &:hover {
                background-color: $dangerColor;
            }
        }
        &:active {
            background-color: darken($dangerColor, 10)
        }
    }
    &.default {
        color: #333;
        background-color: transparent;
        &:hover {
            color: #333;
            background-color: darken(#fff, 7);
        }
        &[disabled] {
            &:hover {
                background-color: #fff;
            }
        }
        &:active {
            background-color: darken(#fff, 14)
        }
    }
    &.warning {
        color: #fff;
        background-color: $warningColor;
        &:hover {
            color: #fff;
            background-color: lighten($warningColor, 10);
        }
        &[disabled] {
            &:hover {
                background-color: $warningColor;
            }
        }
        &:active {
            background-color: darken($warningColor, 5)
        }
    }
    &.primary {
        color: #fff;
        background-color: $primaryColor;
        &:hover {
            color: #fff;
            background-color: lighten($primaryColor, 5)
        }
        &[disabled] {
            &:hover {
                background-color: $primaryColor;
            }
        }
        &:active {
            background-color: darken($primaryColor, 5)
        }
    }
    &.round-primary {
        color: $primaryColor;
        background-color: transparent;
        border-color: $primaryColor;
        &:hover {
            color: $textLightColor;
            background-color: $primaryColor;
            border-color: transparent;
        }
        &[disabled] {
            &:hover {
                background-color: darken($primaryColor, 5);
            }
        }
        &:active {
            background-color: darken($primaryColor, 5);
        }
    }
    &.link {
        font-weight: 400;
        color: #337ab7;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        &:hover {
            color: #23527c;
            text-decoration: underline;
            background-color: rgba(0, 0, 0, 0);
        }
        &:active,
        &:hover,
        &[disabled] {
            border-color: rgba(0, 0, 0, 0); //-webkit-box-shadow: none !important;
            //box-shadow: none !important;
        }
        &[disabled] {
            &:hover {
                color: #777;
                text-decoration: none;
            }
        }
        @extend %loadingGrey;
    }
    &.block {
        display: block;
        width: 100%;
    }
    /*
        LOADING
    */
    &.loading[disabled],
    &.loading {
        opacity: 1;
        color: rgba(0, 0, 0, 0);
        &:before {
            content: '';
            border-style: solid;
            height: 16px;
            width: 16px;
            border-width: 2px;
            border-color: #fff #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            border-radius: 100%;
            animation: clockwise .5s linear infinite;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -7px 0 0 -8px;
        }
        &:hover,
        &:focus,
        &:active {
            color: rgba(0, 0, 0, 0);
        }
    }
    &.loading-left[disabled],
    &.loading-left {
        opacity: 1;
        &:before {
            content: '';
            border-style: solid;
            height: 14px;
            width: 14px;
            border-width: 2px;
            border-color: #fff #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            border-radius: 100%;
            animation: clockwise .5s linear infinite;
            position: absolute;
            left: 4px;
            top: 50%;
            margin: -7px 0 0 0;
        }
    }
}

%BUTTON_STYLE_DEFAULT {
    color: #fff;
    background: linear-gradient(to right, #fe8246, #e1487c);
    &:hover {
        color: #fff;
    }
}

%BUTTON_STYLE_CLEAR {
    color: #000;
    background: transparent;
    &:hover {
        background: #eee;
    }
    &:active {
        background: #e0e0e0;
    }
}

%BUTTON_TYPE_FILLET {
    border-radius: 100px;
}

%BUTTON_TYPE_CIRLCE {
    border-radius: 100%;
}

%BUTTON_EFFECT_SHADOW_LIGHT {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.21);
}

%loadingWhite {
    &:before {
        border-color: #fff #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
}

%loadingGrey {
    &:before {
        border-color: #333 #333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
}