.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__main {
        @extend %loaderSize;
        @extend %loaderColor;
        border-style: solid;
        height: 30px;
        width: 30px;
        border-width: 2px;
        border-color: #000 #000 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
        border-radius: 100%;
        animation: clockwise .5s linear infinite;
    } //SIZE
    &--size {
        &-small {
            %loaderSize {
                height: 20px;
                width: 20px;
            }
        }
        &-big {
            %loaderSize {
                height: 40px;
                width: 40px;
                border-width: 3px;
            }
        }
    } //COLOR
    &--color {
        &-grey {
            %loaderColor {
                border-color: #666 #666 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            }
        }
        &-purple {
            %loaderColor {
                border-color: #b867a3 #b867a3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            }
        }
        &-orange {
            %loaderColor {
                border-color: #f70 #f70 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
            }
        }
    }
    &--position {
        &-center {
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
        }
    }
}