.ModalWindow {
    margin: 40px;
    background-color: #fff;
    z-index: 5900;
    border-radius: 6px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.28);
    outline: 0px !important;
    &--small {
        width: 360px;
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5900;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    &__header {
        padding: 24px;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
    }
    &__footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 8px;
        &__button {
            @extend %BUTTON;
            @extend %BUTTON_STYLE_CLEAR;
            font-weight: 700;
            color: #ff4437;
            font-size: 18px;
            border-radius: 4px;
            &:hover {
                color: #ff4437;
            }
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}