.ContentMainAdvantages {
    margin: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER;
            transition: all .4s ease-out;
            opacity: 0;
            margin-left: -150px;
        }
    }
    &__content {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        margin-bottom: -150px;
        opacity: 0;
        transition: all .4s ease-out;
        & .list {
            &__item {
                width: 49%;
                &__header {
                    margin-top: 0px;
                }
                &__content {}
            }
        }
    }
}

.ContentMainAdvantages_in .ContentMainAdvantages {
    &__container {
        &__header {
            opacity: 1;
            margin-left: 0;
        }
    }
    &__content {
        margin-top: 0;
        margin-bottom: 0;
        opacity: 1;
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentMainAdvantages {
        &__container {
            &__header {}
        }
        &__content {
            flex-direction: column;
            & .list {
                &__item {
                    width: 100%;
                    margin-bottom: 16px;
                    &__header {
                        margin-top: 1em;
                    }
                    &__content {}
                }
            }
        }
    }
}

@media (min-width: 1200px) {}