.ContentRoadmap {
    margin-bottom: 72px;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER_MAIN;
            margin-top: 56px;
        }
    }
    &__element {
        margin-bottom: 56px;
        & img {
            width: 100%;
            max-width: 680px;
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .ContentRoadmap {
        &__container {
            &__header {}
        }
    }
}

@media (min-width: 1200px) {}