.signInForm {
    width: 270px;
    &__avatar {
        width: 90px;
        height: 90px;
        margin: 0 auto 48px;
        background: url(../images/Avatar.png) no-repeat
    }
    &__link {
        margin: 10px 0;
        text-align: center;
    }
    &__socials {
        &__item {
            background-position: 1em;
            background-repeat: no-repeat;
            background-size: 2em;
            border-radius: 2px;
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 1em;
            height: 40px;
            display: block;
            line-height: 40px;
            padding: 0 2em 0 4em;
            text-decoration: none;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            &_facebook {
                display: block !important;
                width: 100%;
                text-align: left;
                background-color: #3b5998;
                background-image: url('../images/facebook-xxl.png');
                &:hover {
                    background-color: #4c70ba;
                }
            }
            &_disabled {
                opacity: 0.6;
            }
        }
    }
    &__separator {
        position: relative;
        margin: 10px 0;
        &__text {
            width: 30px;
            height: 20px;
            font-size: 12px;
            margin: 0px auto;
            background-color: #fff;
            position: relative;
            z-index: 1;
            text-align: center;
        }
        &__line {
            height: 1px;
            background: #e5e5e5;
            position: absolute;
            top: 10px;
            width: 100%;
        }
    }
}

.signInForm_wrapper {
    padding-top: 56px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;
}