.ContentDecisionBlock {
    padding: 0 0 72px 0;
    &__container {
        @extend %CONTAINER;
        &__header {
            @extend %CONTENT_HEADER_MAIN;
            transition: all .4s ease-out;
            opacity: 0;
            margin-left: -150px;
        }
    }
    &__content {
        font-size: 18px;
        & .content {
            height: 500px;
            display: flex;
            justify-content: space-between;
            &__article {
                overflow: hidden;
                width: 360px;
                box-shadow: 0 11px 56px rgba(0, 0, 0, 0.11);
                border-radius: 7px;
                margin: 0;
                background-repeat: no-repeat;
                margin-top: 70px;
                margin-bottom: -70px;
                opacity: 0;
                transition: all .4s ease-out;
                &--board1 {
                    background-image: url('../images/board1.png');
                }
                &--board2 {
                    background-image: url('../images/board2.png');
                }
                &--board3 {
                    background-image: url('../images/board3.png');
                }
                &__text {
                    margin-top: 350px;
                    height: 150px;
                    background: #fff;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    padding: 8px 16px;
                }
            }
        }
    }
}

.ContentDecisionBlock_in .ContentDecisionBlock {
    &__container {
        &__header {
            opacity: 1;
            margin-left: 0;
        }
    }
    &__content {
        & .content {
            &__article {
                margin-top: 0;
                margin-bottom: 0;
                opacity: 1;
            }
        }
    }
}

@media (min-width: 768px) {}

@media (max-width: 1200px) {
    .ContentDecisionBlock {
        &__content {
            & .content {
                height: 416px;
                &__article {
                    width: 300px;
                    background-size: 300px;
                    &__text {
                        margin-top: 290px;
                        font-size: 14px;
                        height: 126px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .ContentDecisionBlock {
        &__container {
            &__header {}
        }
        &__content {
            & .content {
                height: auto;
                flex-direction: column;
                &__article {
                    margin: 0 auto 16px;
                    margin-bottom: 24px !important;
                    &__text {}
                }
            }
        }
    }
}