.FooterMain {
    &__container {
        @extend %CONTAINER;
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        &__list {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            &__item {
                display: block;
                height: 60px;
                padding: 0 32px 0 0;
                line-height: 60px;
                &__link {
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                }
            }
        }
    }
    &__right {
        display: flex;
    }
    &__language {
        position: relative;
        margin: 0 24px 0 0;
        &:hover &__menu {
            display: block;
        }
        &__button {
            cursor: pointer;
            font-size: 14px;
            line-height: 60px;
            padding: 0 0 0 24px;
            min-width: 140px;
            & span {
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        &__menu {
            display: none;
            position: absolute;
            bottom: 0;
            margin: 0 0 60px 0;
            min-width: 140px;
            &__list {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            &__list .list {
                &__item {
                    &__link {
                        display: block;
                        padding: 16px 16px 16px 24px;
                        font-size: 17px;
                        margin: 0 0 -6px;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            background: #f5f5f5;
                        }
                        &--active {
                            cursor: default;
                            background: #fff !important;
                            font-weight: 600;
                        }
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    &__copyright {
        text-align: right;
        font-size: 14px;
        line-height: 60px;
    }
}

@media (min-width: 768px) {}

@media (max-width: 992px) {
    .FooterMain {
        &__container {
            flex-direction: column;
        }
        &__menu {
            &__list {
                flex-direction: column;
                &__item {
                    padding: 0;
                    border-bottom: 1px solid #eee;
                    text-align: center;
                    &__link {}
                }
            }
        }
        &__right {
            flex-direction: column;
        }
        &__language {
            margin: 0;
            &:hover &__menu {}
            &__button {
                text-align: center;
                padding: 0;
                & span {}
            }
            &__menu {
                &__list {
                    & .list {
                        &__item {
                            &__link {
                                &--active {}
                                &:hover {}
                            }
                        }
                    }
                }
            }
        }
        &__copyright {
            text-align: center;
        }
    }
}

@media (min-width: 1200px) {}